body {
    background-image:url(../images/dating.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

div.buttonsholder {
    margin-top:30px;
}

div.buttonsholder a {
    margin-right:20px;
}